.markdown-description {
  width: 90%;
  text-align: left;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

ul {
  margin: 2rem;
  text-align: left;
  font-size: 1.2rem;
}

.markdown-preview {
  width: 90%;
  text-align: left;
}